@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);



body {
    font-size: 16px;
    margin: 0;
    font-family: 'NanumSquare', sans-serif;
}

li{
    list-style-type: none;
}

/* Header Style */
header {
    background-color: #333;
    color: white;
    padding: 10px 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffc107;
}

button.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

ul.menu {
    list-style-type: none;
}

li.menu-item {
    padding: 10px 0;
}

a.menu-item {
    color: #000;
    text-decoration: none;
}

section.section {
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

table.table {
    width: 100%;
    border-collapse: collapse;
}

thead.table-head {
    background-color: #ccc;
}

th.table-cell, td.table-cell {
    border: 1px solid #ccc;
    padding: 10px;
}

section.section h2.section-title {
    font-size: 24px;
}

/* 버튼 디자인 */

.btn_warp{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.cm_btn01 {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

    &:hover {
        box-shadow: 0 0 40px 40px #ef1313 inset;
    }
}

.cm_btn02 {
    border-color: #6565ef;
    color: #fff;
    box-shadow: 0 0 20px 20px #6565ef inset, 0 0 0 0 #6565ef;
    transition: all 150ms ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 #6565ef inset, 0 0 10px 4px #6565ef;
        color: #6565ef;
    }
}
.modal-content input[type="text"],
.modal-content textarea {
    border: none; /* border 제거 */
    width: 100%;
    white-space: pre-wrap; /* 줄바꿈 적용 */
    /* 추가적인 스타일링을 원하면 여기에 추가하세요 */
}

.modal-content {
    max-height: calc(100vh - 200px); /* 화면 높이의 100%에서 200px만큼 빼고 설정 */
    overflow-y: auto; /* 세로 스크롤 바 표시 */
}

/* input 요소의 내용이 전부 나오도록 크기 조절 */
.modal-content input[type="text"] {
    width: 100%; /* input 요소가 부모 요소에 꽉 차도록 설정 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 크기 설정 */
}
